.todo-item{
    display: flex; 
    width: 90%;
    padding:10px 15px;
    border-bottom: 1px solod #ddd;
    margin: auto;
    

}
form{
    width: 90%;
    margin: auto;
}
.todo-item:nth-child(odd){
    background-color: rgb(179, 173, 173);
}
.todo-item:last-of-type{
    border-bottom: 0;
}
.id{
    flex: 1 1 50px;
}
.todo-content{
    flex: 1 1 100%;
   
}
.todo-item.done .todo-content{
    text-decoration: line-through;
}
.delete{
    padding: 5px 15px;
    border-radius: 5px;
    border:none;
    font-size: 16px;
    color: white;
    background-color: rgb(148, 28, 28);

}
.todo-input{
    display: block;
    width: 100%;
    border-radius: 50px;
    box-shadow: 5px -1px 10px 5px rgb(202, 201, 202);
    padding: 10px;
    appearance: none;
    border: none;
    background-color: rgb(240, 235, 234);
    margin-top: 15px;
    font-size: 20px;
    outline: none;
}
.todo-submit{
    display: block;
    width: 100%;
    border-radius: 5px;
    /* max-width: 200px; */
    appearance: none;
    border:none;
    outline: none;
    background: none;
    background-color:#fe4880 ;
    color: white;
    margin-top: 15px ;
    margin-bottom: 55px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
}
